<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- displays site properly based on user's device -->

  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">

  <title>Frontend Mentor | Tip calculator app</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <script src="https://unpkg.com/vue@next"></script>
  <div id="app">
    <h1 class="title">SPLI</h1>
    <h1 class="title">TTER</h1>
    <div class="card container">
      <div class="form">
        <div class="bill">
          <h2 class="form__title">Bill</h2>
          <div class="form__input">
            <img src="./images/icon-dollar.svg" alt="person">
            <input class="num__input" v-model="bill" type=" number" placeholder="0">
          </div>
        </div>
        <div class="tip">
          <h2 class="form__title">Select Tip %</h2>
          <div class="buttons__content">
            <button v-for="tip in tips" :key="tip" :class="{ active: tipActive === tip }"
              v-on:click="tipActive = tip">{{tip}}%</button>
            <div class="form__input" :class="{ 'custom-active': tipActive === 'custom' }">
              <p v-show="tipActive === 'custom'">%</p>
              <input class="tip__input" v-on:click="tipActive = 'custom'" v-model="customTip" type="number"
                :placeholder=" tipActive!=='custom' ? 'Custom' :''">
            </div>
          </div>
        </div>
        <div class="people">
          <div class="people__text-container">
            <h2 class="form__title">Number of People</h2>
            <h2 class="form__invalid" v-show="peopleNumber === 0">Can't be zero</h2>
          </div>
          <div class="form__input" :class="{ 'input-invalid': peopleNumber === 0 }">
            <img src="./images/icon-person.svg" alt="person">
            <input class="num__input" v-model="peopleNumber" type="number" placeholder="0">
          </div>
        </div>
      </div>

      <div class="result">
        <section>
          <article>
            <h2>Tip Amount</h2>
            <p>/ person</p>
          </article>
          <p>${{ tipAmountXPerson.toFixed(2) }}</p>
        </section>
        <section>
          <article>
            <h2>Total</h2>
            <p>/ person</p>
          </article>
          <p>${{ totalXPerson.toFixed(2) }}</p>
        </section>
        <button :disabled="totalXPerson === 0" v-on:click="reset">Reset</button>
      </div>

    </div>
    <div class="attribution">
      Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>.
      Coded by <a href="https://portafolio-cris-cor.web.app">Cristian Cornejo</a>.
    </div>
  </div>

  <script>
    const { createApp, ref, reactive, toRefs, watch } = Vue;
    const app = createApp({
      setup() {
        const state = reactive({
          bill: null,
          tips: [5, 10, 15, 25, 50],
          peopleNumber: null,
          tipActive: null,
          customTip: null,
          tipAmountXPerson: 0,
          totalXPerson: 0
        })

        watch(() => state.tipActive, (tipActive) => {
          console.log(tipActive);
          if (tipActive !== 'custom') {
            state.customTip = null;
          }
        })
        watch(() => [state.bill, state.tipActive, state.peopleNumber, state.customTip], ([bill, tipActive, peopleNumber, customTip]) => {


          if (!bill || !tipActive || !peopleNumber) {

            state.tipAmountXPerson = 0;
            state.totalXPerson = 0;
            return;
          }

          if (tipActive === 'custom' && !customTip) {
            state.tipAmountXPerson = 0;
            state.totalXPerson = 0;
            return;
          }

          if (bill && tipActive && peopleNumber) {
            const tipPer = (tipActive !== 'custom' ? tipActive : customTip || 0) / 100;
            const split = bill / peopleNumber;
            const tip = tipPer * split
            state.tipAmountXPerson = tip;
            state.totalXPerson = tip + split;
          }


        })

        function reset() {
          state.bill = null;
          state.peopleNumber = null;
          state.tipActive = null;
          state.customTip = null;
        }

        return {
          ...toRefs(state),
          reset
        }
      }
    })
  </script>
  <!--COMPONENTS-->

  <script>
    app.mount("#app");
  </script>

</body>

</html>